body {
    font-family: Arial, sans-serif;
    transition: background-color 0.3s, color 0.3s;
}

.video-container {
    text-align: center;
}

.controls {
    margin-top: 10px;
}

.controls button {
    margin: 5px;
}

.dark {
    background-color: #333;
    color: white;
}

.dark .controls button {
    background-color: #555;
    color: white;
}

.dark .controls button:hover {
    background-color: #777;
}